# system specs
CPU:     1 Core
RAM:     1 GB
Storage: 25 GB
Swap:    512 MB

Region:  US, Seattle, WA
Public IP: 172.234.236.8

OS:      Ubuntu 24.04 LTS
Volumes: 0

# git config
- user.name: "Justin Mitchel"
- user.email: "codingforentrepreneurs@gmail.com"
- github username: "codingforentrepreneurs"
- github repo name: "Cursor Hello World"


# web server
- nginx
- auto accept new packages

# website project
- name: CFE Main Website
- root directory /var/www/my-website